<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>my weblog</title>

	<!-- $Id$ -->

	</head>
<body>
<!-- ###DOCUMENT_BODY### begin -->
<div id="container">

	<div id="header">
	<h1><a href="###BLOG_HOME###">###BLOG_TITLE###</a></h1>
	</div>

	<div id="navi">
		<div id="navi-innen">
			<h2>###TRAIN_PAGES###</h2>
			###PAGENAV###
			
			<h2>###TRAIN_CATEGORIES###</h2>
			###CATEGORIES###
			
			<h2>###TRAIN_ARCHIVES###</h2>
			###ARCHIVES###
			
			###BLOG_BLOGROLL###
			
			<h2>###TRAIN_META###</h2>
			<ul>
				<li><a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a></li>
				<li><a href="http://gmpg.org/xfn/"><abbr title="XHTML Friends Network">XFN</abbr></a></li>
				<li><a href="http://www.typo3.com/" title="Powered by TYPO3">TYPO3</a></li>
				<li><a href="http://www.ingo-renner.com/?id=11" title="timtab: Blogging with TYPO3">timtab</a></li>
			</ul>
		</div>
	</div>
	
	<hr />
	
	<div id="content">
		###POSTS_LIST###
		
		<div class="center"></div>

		<div id="footer">
			Theme by <a href="http://www.vlad-design.de">Vladimir Simovic</a>
		</div>
	</div>
	
</div>
<!-- ###DOCUMENT_BODY### end -->		
</body>
</html>