<!-- 
	This is the template for ve_guestbook in the kubrick template

	$Id: kubrick_ve_guestbook.tmpl,v 1.6 2005/08/23 22:26:48 ingorenner Exp $ 

-->

<!-- ###TEMPLATE_FORM### begin

The guestbook form for a new frontend entry

Following markers will be substituted:

###FORM_FIRSTNAME### 	Firstname
###FORM_SURNAME###		Surname
###FORM_EMAIL### 		E-Mail
###FORM_HOMEPAGE### 	Website
###FORM_PLACE### 		Place
###FORM_ENTRY### 		Message

-->
<h2 id="postcomment">###BLOG_LEAVE_REPLY###</h2>

<form action="###ACTION_URL###" method="post" id="commentform">

	<p>
		<input type="text" name="tx_veguestbook_pi1[firstname]" id="author" value="###VALUE_FIRSTNAME###" size="30" tabindex="1" />
		<label for="author"><small>###BLOG_NAME### ###FORM_FIRSTNAME_OBLIGATION###</small></label>
	</p>
	
	<p>
		<input type="text" name="tx_veguestbook_pi1[email]" id="email" value="###VALUE_EMAIL###" size="30" tabindex="2" />
		<label for="email"><small>###BLOG_MAIL### ###BLOG_NOT_PUBLISHED### ###FORM_EMAIL_OBLIGATION###</small></label>
	</p>
	
	<p>
		<input type="text" name="tx_veguestbook_pi1[homepage]" id="url" value="###VALUE_HOMEPAGE###" size="30" tabindex="3" />
		<label for="url"><small>###BLOG_HOMEPAGE### ###FORM_HOMEPAGE_OBLIGATION###</small></label>
	</p>
	
	<p>
		<textarea name="tx_veguestbook_pi1[entry]" id="comment" cols="55" rows="11" tabindex="4">###VALUE_ENTRY###</textarea>
	</p>
	
	<p>
		<input name="submit" type="submit" id="submit" tabindex="5" value="###FORM_SUBMIT###" />
		<input type="hidden" name="id" value="###PID###" />
		<input type="hidden" name="tx_timtab[remember_visitor]" value="1" /> 
		<input type="hidden" name="tx_veguestbook_pi1[submitted]" value="1" />
	</p>
</form>
<!-- ###TEMPLATE_FORM### end -->

<!-- ###TEMPLATE_LIST### begin
Teasing the gustbook

Following markers will be substituted:

###GUESTBOOK_FIRSTNAME### 	Firstname (Entry)
###GUESTBOOK_SURNAME###		Surname (Entry)
###GUESTBOOK_EMAIL_URL### 	E-Mail URL (Entry)
###GUESTBOOK_EMAIL### 		E-Mail including spam protection if activated (Entry)
###GUESTBOOK_HOMEPAGE### 	Website (Entry)
###GUESTBOOK_PLACE### 		Place (Entry)
###GUESTBOOK_ENTRY### 		Message (Entry)

And the field names...

###FORM_FIRSTNAME### 		Firstname
###FORM_SURNAME###			Surname
###FORM_EMAIL### 			E-Mail
###FORM_HOMEPAGE### 		Website
###FORM_PLACE### 			Place
###FORM_ENTRY### 			Message
-->
<h4 id="comments">
	###BLOG_COMMENTS_COUNT### ###TRAIN_COMMENTS### <strong>&raquo;</strong>
</h4>

<ol id="commentlist">
<!-- ###CONTENT### begin
	  This is the part of the template substituted with the list of entries: 
-->

	<!-- ###ENTRY### begin 
		Template for a single item 
	-->
	<li id="comment-###BLOG_COMMENT_NUM###">
		<p>###GUESTBOOK_ENTRY###</p>	
		<p>
			<cite>###BLOG_COMMENT_GRAVATAR### ###TRAIN_COMMENT_BY### ###BLOG_COMMENTER_NAME### &#8212; ###GUESTBOOK_DATE###</cite>
		</p>		
	</li>
	<!-- ###ENTRY### end-->

<!-- ###CONTENT###  end -->
</ol>
<!-- ###TEMPLATE_LIST### end -->



<!-- ###TEMPLATE_NO_ENTRIES### begin
No entries found :-(

Following markers will be substituted:

###GUESTBOOK_FIRSTNAME### 	Firstname
###GUESTBOOK_SURNAME###		Surname
###GUESTBOOK_EMAIL_URL### 	E-Mail (URL)
###GUESTBOOK_EMAIL### 		E-Mail including spam protection if activated
###GUESTBOOK_HOMEPAGE### 	Website
###GUESTBOOK_PLACE### 		Place
###GUESTBOOK_ENTRY### 		Message

-->
 

<!-- ###TEMPLATE_NO_ENTRIES### end -->


